.prayer-wall {
	padding: 24px 20px 0;

	&__content {
		/*display: flex;
		flex-wrap: wrap;
		justify-content: space-between;*/

		.card {
			flex: 0 0 calc(33.33% - 10px);
			margin: 5px;
		}
	}

	&__title {
		font-size: 1.8rem;
		margin-bottom: 30px;
		text-align: center;
	}
}
