$button-width: 140px;

.cta {
	bottom: 40px;
	position: fixed;
	right: 20px;
	width: $button-width;
	z-index: 1000;

	&__button {
		background-color: var(--purple-heart);
		height: 48px;
		width: $button-width;

		::before {
			background: transparent url(../../assets/images/praying_hands.svg) no-repeat 0 0 / cover;
			content: '';
			display: block;
			filter: invert(100%);
			height: auto;
			margin-right: 4px;
			width: 15px;
		}
	}

	.button__text {
		display: flex;
		justify-content: center;
	}
}
