:root {
	// Color scheme
	--black: #000000;
	--white: #ffffff;

	// Typeface weights
	--weight-regular: 400;
	--weight-semibold: 600;
	--weight-bold: 700;

	background-color: var(--white);
	color: var(--black);
	font: {
		family: Arial, sans-serif;
		size: 62.5%;
		weight: var(--weight-regular);
	}
	line-height: 1.4;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

blockquote,
body,
button,
h1,
h2,
h3,
h4,
ol,
ul,
p {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.5rem;
}

button {
	background-color: transparent;
	border-style: none;
	cursor: pointer;
}

input,
textarea {
	border: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&::placeholder {
		opacity: 1;
	}
}

ol,
ul {
	list-style: none;
}

textarea {
	margin: 0;
	resize: none;
	white-space: revert;
}
